---
layout: default
---

<div class="post">
  <ul id="archive">
  {% for post in site.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="post-date">{{ post.date | date_to_long_string }}</span>
      {{ post.excerpt | truncate: 255 }}
      <ul class="categories">
        {% for cat in post.categories %}
          {{ cat.index | str }}
          <li>{{ cat }} </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
